<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282007492443-88rd7cvmsjf3ndgi438es50tfb68b580.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282007492443-88rd7cvmsjf3ndgi438es50tfb68b580</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDn3t4UMt6AIbUNzJGvb5GIa2ypC0b1c</string>
	<key>GCM_SENDER_ID</key>
	<string>282007492443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.abdelrahmantealab.flash-chat-ios13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-13-9183e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-13-9183e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282007492443:ios:dab39d23140ca159266c7e</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios-13-9183e.firebaseio.com</string>
</dict>
</plist>